# Table of Contents

1. Importing Libraries 
2. Importing Dataframes 
3. Merging Dataframes
4. Data Cleaning
5. Descriptive Statistics 
6. Exporting Dataframe

## 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np 
import os

## 2. Importing Dataframe

Defining a path for Dataframes

In [2]:
path = r'C:\Users\emily\OneDrive\Documents\Career Foundry 2022\Data Immersion\Achievement 6'

In [3]:
year15 = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', '2015 Cleaned.csv'), index_col = False)

In [4]:
year16 = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', '2016 Cleaned.csv'), index_col = False)

In [5]:
year17 = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', '2017 Cleaned.csv'), index_col = False)

In [6]:
year18 = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', '2018 Cleaned.csv'), index_col = False)

In [7]:
year19 = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', '2019 Cleaned.csv'), index_col = False)

In [8]:
year20 = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', '2020 Cleaned.csv'), index_col = False)

In [9]:
year21 = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', '2021 Cleaned.csv'), index_col = False)

Checking shape of each dataframe before merging together

In [10]:
year15.shape

(158, 12)

In [11]:
year15.head()

,RANK,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,1,2015,Switzerland,Western Europe,7.587,1.397,1.350,0.941,0.666,0.420,0.297,2.517
1,2,2015,Iceland,Western Europe,7.561,1.302,1.402,0.948,0.629,0.141,0.436,2.702
2,3,2015,Denmark,Western Europe,7.527,1.325,1.361,0.875,0.649,0.484,0.341,2.492
3,4,2015,Norway,Western Europe,7.522,1.459,1.331,0.885,0.670,0.365,0.347,2.465
4,5,2015,Canada,North America,7.427,1.326,1.323,0.906,0.633,0.330,0.458,2.452

In [12]:
year16.shape

(157, 12)

In [13]:
year16.head()

,RANK,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,1,2016,Denmark,Western Europe,7.526,1.442,1.164,0.795,0.579,0.445,0.362,2.739
1,2,2016,Switzerland,Western Europe,7.509,1.527,1.145,0.863,0.586,0.412,0.281,2.695
2,3,2016,Iceland,Western Europe,7.501,1.427,1.183,0.867,0.566,0.150,0.477,2.831
3,4,2016,Norway,Western Europe,7.498,1.577,1.127,0.796,0.596,0.358,0.379,2.665
4,5,2016,Finland,Western Europe,7.413,1.406,1.135,0.811,0.571,0.410,0.255,2.826

In [14]:
year17.shape

(155, 12)

In [15]:
year17.head()

,RANK,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,1,2017,Norway,Western Europe,7.537,1.616,1.534,0.797,0.635,0.362,0.316,2.277
1,2,2017,Denmark,Western Europe,7.522,1.482,1.551,0.793,0.626,0.355,0.401,2.314
2,3,2017,Iceland,Western Europe,7.504,1.481,1.611,0.834,0.627,0.476,0.154,2.323
3,4,2017,Switzerland,Western Europe,7.494,1.565,1.517,0.858,0.620,0.291,0.367,2.277
4,5,2017,Finland,Western Europe,7.469,1.444,1.540,0.809,0.618,0.245,0.383,2.430

In [16]:
year18.shape

(156, 12)

In [17]:
year18.head()

,RANK,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,1,2018,Finland,Western Europe,7.632,1.305,1.592,0.874,0.681,0.393,0.202,2.585
1,2,2018,Norway,Western Europe,7.594,1.456,1.582,0.861,0.686,0.340,0.286,2.383
2,3,2018,Denmark,Western Europe,7.555,1.351,1.590,0.868,0.683,0.408,0.284,2.371
3,4,2018,Iceland,Western Europe,7.495,1.343,1.644,0.914,0.677,0.138,0.353,2.426
4,5,2018,Switzerland,Western Europe,7.487,1.420,1.549,0.927,0.660,0.357,0.256,2.318

In [18]:
year19.shape

(156, 12)

In [19]:
year19.head()

,RANK,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,1,2019,Finland,Western Europe,7.769,1.340,1.587,0.986,0.596,0.393,0.153,2.714
1,2,2019,Denmark,Western Europe,7.600,1.383,1.573,0.996,0.592,0.410,0.252,2.394
2,3,2019,Norway,Western Europe,7.554,1.488,1.582,1.028,0.603,0.341,0.271,2.241
3,4,2019,Iceland,Western Europe,7.494,1.380,1.624,1.026,0.591,0.118,0.354,2.401
4,5,2019,Netherlands,Western Europe,7.488,1.396,1.522,0.999,0.557,0.298,0.322,2.394

In [20]:
year20.shape

(153, 12)

In [21]:
year20.head()

,RANK,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,1,2020,Finland,Western Europe,7.809,1.285,1.500,0.961,0.662,0.478,0.160,2.763
1,2,2020,Denmark,Western Europe,7.646,1.327,1.503,0.979,0.665,0.495,0.243,2.433
2,3,2020,Switzerland,Western Europe,7.560,1.391,1.472,1.041,0.629,0.408,0.269,2.350
3,4,2020,Iceland,Western Europe,7.504,1.327,1.548,1.001,0.662,0.145,0.362,2.461
4,5,2020,Norway,Western Europe,7.488,1.424,1.495,1.008,0.670,0.434,0.288,2.168

In [22]:
year21.shape

(149, 12)

In [23]:
year21.head()

,RANK,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,1,2021,Finland,Western Europe,7.842,1.446,1.106,0.741,0.691,0.481,0.124,3.253
1,2,2021,Denmark,Western Europe,7.620,1.502,1.108,0.763,0.686,0.485,0.208,2.868
2,3,2021,Switzerland,Western Europe,7.571,1.566,1.079,0.816,0.653,0.413,0.204,2.839
3,4,2021,Iceland,Western Europe,7.554,1.482,1.172,0.772,0.698,0.170,0.293,2.967
4,5,2021,Netherlands,Western Europe,7.464,1.501,1.079,0.753,0.647,0.384,0.302,2.798

## 3. Merging Dataframes

In [24]:
df_years = (year15, year16, year17, year18, year19, year20, year21)

In [25]:
df_merged = pd.concat(df_years)

In [26]:
df_merged.head()

,RANK,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,1,2015,Switzerland,Western Europe,7.587,1.397,1.350,0.941,0.666,0.420,0.297,2.517
1,2,2015,Iceland,Western Europe,7.561,1.302,1.402,0.948,0.629,0.141,0.436,2.702
2,3,2015,Denmark,Western Europe,7.527,1.325,1.361,0.875,0.649,0.484,0.341,2.492
3,4,2015,Norway,Western Europe,7.522,1.459,1.331,0.885,0.670,0.365,0.347,2.465
4,5,2015,Canada,North America,7.427,1.326,1.323,0.906,0.633,0.330,0.458,2.452

In [27]:
#Exporting to ensure merge successful in Excel 
df_merged.to_csv(os.path.join(path, 'Data', 'Prepared Data', '2Merged_dataset.csv'), index=False)

## 4. Data Cleaning

In [28]:
#Importing clean/merged dataset
df = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', '2Merged_dataset.csv'), index_col = False)

In [29]:
df

,RANK,Year,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,1,2015,Switzerland,Western Europe,7.587,1.397,1.350,0.941,0.666,0.420,0.297,2.517
1,2,2015,Iceland,Western Europe,7.561,1.302,1.402,0.948,0.629,0.141,0.436,2.702
2,3,2015,Denmark,Western Europe,7.527,1.325,1.361,0.875,0.649,0.484,0.341,2.492
3,4,2015,Norway,Western Europe,7.522,1.459,1.331,0.885,0.670,0.365,0.347,2.465
4,5,2015,Canada,North America,7.427,1.326,1.323,0.906,0.633,0.330,0.458,2.452
...,...,...,...,...,...,...,...,...,...,...,...,...
1079,145,2021,Lesotho,Sub-Saharan Africa,3.512,0.451,0.731,0.007,0.405,0.015,0.103,1.800
1080,146,2021,Botswana,Sub-Saharan Africa,3.467,1.099,0.724,0.340,0.539,0.088,0.027,0.648
1081,147,2021,Rwanda,Sub-Saharan Africa,3.415,0.364,0.202,0.407,0.627,0.493,0.227,1.095
1082,148,2021,Zimbabwe,Sub-Saharan Africa,3.145,0.457,0.649,0.243,0.359,0.075,0.157,1.205
1083,149,2021,Afghanistan,South Asia,2.523,0.370,0.000,0.126,0.000,0.010,0.122,1.895

In [30]:
#Checking dataframe rows and columns 
df.shape

(1084, 12)

In [31]:
# Renaming RANK column for 
df.rename(columns = {'RANK' : 'Country Rank'}, inplace = True)

In [32]:
#Checking for nulls 
df.isnull().sum()

Country Rank                         0
Year                                 0
Country                              0
Region                               0
Happiness Score                      0
Economy (GDP per Capita)             0
Family (Social Support)              0
Health (Life Expectancy)             0
Freedom (Life Choices)               0
Trust (Government Corruption)        0
Generosity (Donations to Charity)    0
Dystopia Residual                    0
dtype: int64

In [33]:
#Checking for duplicates
df_dups = df[df.duplicated()]

In [34]:
df_dups

Empty DataFrame
Columns: [Country Rank, Year, Country, Region, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Generosity (Donations to Charity), Dystopia Residual]
Index: []

## 5. Descriptive Statistics

In [35]:
#Descriptive Statistics 
df.describe()

,Country Rank,Year,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,77.950185,2017.968635,5.413462,0.917772,1.050102,0.611094,0.430541,0.145889,0.191186,2.066861
std,44.766196,1.995594,1.118597,0.402918,0.332027,0.248612,0.152701,0.122354,0.114882,0.573175
min,1.000000,2015.000000,2.523000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.184000
25%,39.000000,2016.000000,4.571000,0.613500,0.833000,0.436500,0.329750,0.060000,0.105000,1.697750
50%,78.000000,2018.000000,5.385000,0.982000,1.082500,0.644000,0.449000,0.106000,0.177000,2.092500
75%,117.000000,2020.000000,6.215750,1.238750,1.310250,0.799250,0.552250,0.190000,0.255000,2.448000
max,158.000000,2021.000000,7.842000,2.096000,1.644000,1.141000,0.724000,0.862000,0.820000,3.838000

In [36]:
#Checking for mixed-type columns 
df.dtypes

Country Rank                           int64
Year                                   int64
Country                               object
Region                                object
Happiness Score                      float64
Economy (GDP per Capita)             float64
Family (Social Support)              float64
Health (Life Expectancy)             float64
Freedom (Life Choices)               float64
Trust (Government Corruption)        float64
Generosity (Donations to Charity)    float64
Dystopia Residual                    float64
dtype: object

## 6. Exporting Cleaned Dataframe

In [37]:
df.to_csv(os.path.join(path, 'Data', 'Prepared Data', '2Cleaned_dataset.csv'), index=False)